<table style="padding: 50px">
	 <tr>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitute</th>
  </tr>
  
  <% @entity.each do |entity| %>
  <tr>
    <td><%= entity.address %></td>
    <td><%= entity.latitude %></td>
    <td><%= entity.longitude %></td>
    <td> <%= button_to "Remove", entity, :method => :delete %> </td>
  </tr>
  <% end %>
</table>


<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });

</script>