<!DOCTYPE html>
<html>
<head>
  <title>MapIt</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation_bar' %>
<%= yield %>
<%# yield :javascripts %>
</body>
</html>


